services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./frontend/src/:/app/src/
      - ./frontend/node_modules/:/app/node_modules/
      - ./frontend/.svelte-kit/:/app/.svelte-kit/
    env_file:
      - .env
    networks:
      - app-network
    command: npm run dev
    tty: true
    stdin_open: true

  backend:
    build:
      context: ./backend
    ports:
      - "127.0.0.1:5000:5000"
    volumes:
      - ./backend/:/app/
    env_file:
      - .env
    environment:
      BACKEND_PORT: 5000
    networks:
      - app-network
    command: uv run uvicorn main:app --host 0.0.0.0 --port 5000 --reload
    working_dir: /app/src

networks:
  app-network:
    driver: bridge
